@psucontrol-on-color: #00FF00;
@psucontrol-off-color: #808080;

#psucontrol_indicator {
    &.on i {
        color: @psucontrol-on-color; 
    }
    
    &.off i {
        color: @psucontrol-off-color; 
    }

    &.pending {
        border: 2px solid #0088CC;
        border-radius: 3px;

        i {
            color: @psucontrol-off-color;
        }
    }
}