<a id="psucontrol_indicator" class="pull-right" title="Toggle PSU" href="#" data-bind="click: function() { loginState.isUser() && $root.togglePSU(); }, visible: (isPSUOn() !== undefined)" style="display: none">
    <span class="fa-layers fa-fw">
        <i class="icon-bolt"></i>
        <i class="fas fa-circle" data-fa-transform="shrink-6 right-3 up-3" style="color: #FF0000" data-bind="visible: temperatureWarning()" aria-hidden="true"></i>
        <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-7 right-3 up-2" data-bind="visible: temperatureWarning()" aria-hidden="true">!</span>
    </span>
</a>
